.secondary__nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.secondary__nav ul li:hover > ul,
.secondary__nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}


/*****************************************************
******************************************************
******************  General styles  ******************
******************************************************
*****************************************************/

:root {
    --black-color:#333333;
    --beige-color:#F9F9F9;
    --grey-color:#E6E6E6;
    --lightgrey-color:#c6c6c6;
    --blue-color: #406bfa;
    --lightblue-color:#62CAFF;
    --red-color:#FF6262;
    --blue-gradient: linear-gradient(-45deg, var(--blue-color) 0%, var(--lightblue-color) 100%);
    --red-gradient: linear-gradient(-45deg, var(--red-color) 0%, #ff8585 45% var(--beige-color) 100%);
}

@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

@font-face {
  font-family: "San Francisco Display Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg")
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-color: var(--beige-color);
  color: var(--black-color);
  font-family: "San Francisco Display Medium";
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.errorMessage {
  display:grid;
  justify-content:center;
  background-color: var(--red-color);
}

.errorMessage__text {
  display:block;
  color : var(--beige-color);
}

#wrapper, .container, .profile__change {
  min-height: 100vh;
}

img {
  width: 100%;
}

figure {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

._1977:after, ._1977:before, .aden:after, .aden:before, .brannan:after, .brannan:before, .brooklyn:after, .brooklyn:before, .clarendon:after, .clarendon:before, .earlybird:after, .earlybird:before, .gingham:after, .gingham:before, .hudson:after, .hudson:before, .inkwell:after, .inkwell:before, .kelvin:after, .kelvin:before, .lark:after, .lark:before, .lofi:after, .lofi:before, .mayfair:after, .mayfair:before, .moon:after, .moon:before, .nashville:after, .nashville:before, .perpetua:after, .perpetua:before, .reyes:after, .reyes:before, .rise:after, .rise:before, .slumber:after, .slumber:before, .toaster:after, .toaster:before, .valencia:after, .valencia:before, .walden:after, .walden:before, .willow:after, .willow:before, .xpro2:after, .xpro2:before {
    height: 97%;
}

@media (min-width: 35em) {
  ._1977:after, ._1977:before, .aden:after, .aden:before, .brannan:after, .brannan:before, .brooklyn:after, .brooklyn:before, .clarendon:after, .clarendon:before, .earlybird:after, .earlybird:before, .gingham:after, .gingham:before, .hudson:after, .hudson:before, .inkwell:after, .inkwell:before, .kelvin:after, .kelvin:before, .lark:after, .lark:before, .lofi:after, .lofi:before, .mayfair:after, .mayfair:before, .moon:after, .moon:before, .nashville:after, .nashville:before, .perpetua:after, .perpetua:before, .reyes:after, .reyes:before, .rise:after, .rise:before, .slumber:after, .slumber:before, .toaster:after, .toaster:before, .valencia:after, .valencia:before, .walden:after, .walden:before, .willow:after, .willow:before, .xpro2:after, .xpro2:before {
      height: 98%;
  }
}

ul {
  list-style: none; 
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-family: 'San Francisco Display Bold', sans-serif;
  font-size: 1.4em;
  letter-spacing: 4px;
}

.pinsightLogin {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
  grid-template-rows: 1fr [form] 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
}

.logo {
  grid-column: form;
}

.logo img {
  display: block;
  max-width: 50px;
  margin: 0 auto;
}

.form--login {
  background-color: var(--black-color);
  padding: 1em;
  color: var(--beige-color);
  grid-column: form;
  grid-row: form;
}

.form__error {
  background-color: var(--beige-color);
  color: var(--black-color);
  font-weight: bold;
  text-align: center;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
  border-radius: 5px;
}

.form__field {
  padding-bottom: 1em;
}

.form__field label {
  display: block;
  margin-bottom: 0.2em;
  color:var(--grey-color);
  font-size: 0.9em;
}

.remember {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-self: center;
}

.remember input {
  align-self: center;
}

.remember label {
  margin: 0;
  align-self: center;
}

.form__field .label__inline {
  display: inline-block;
}

.form__field input[type=text],
.form__field input[type=password] {
  width: 100%;
  padding: 0.3em;
  font-size: 1.2em;
  border: none;
  box-sizing: border-box;
  background-color: var(--black-color);
  border-bottom: 1px solid var(--beige-color);
  color:var(--beige-color);
}

.avatar__preview, .settings__menu, .user__preview, .password__preview, .container__header, .upload {
  padding: 1em 0.5em;
}

.settings__menu {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.settings__menu a {
  border-bottom: 1px solid #999;
  padding-bottom: 15px;
  color: #333333;
}

.settings__menu .selected {
  border-bottom: 2px solid #999;
  padding-bottom: 15px;
  color: #333333;
  font-weight: bold;
}

.btn {
  width: 100%;
  margin: 0.5em auto;
}

.btn--primary {
  font-family: 'San Francisco Display Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1em;
  text-align: center;
  background-color: var(--blue-color);
  border: 2px solid var(--blue-color);
  border-radius: 5px;
  color: var(--beige-color);
  padding: 0.8em 2em;
}

.btn:hover{
  box-shadow:none;
  background: none;
  color: var(--blue-color);
}

p.link {
  font-size: 0.9em;
  text-align: center;
}

.link a {
  font-size: 1em;
  color: var(--beige-color);
}

a {
  text-decoration: none;
  color: var(--blue-color);
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  text-align: center;
  font-size: 0.9em;
  color: #bdbdbd;
}

footer p {
  margin: 0;
  padding: 1em 0;
}

/*****************************************************
******************************************************
****************** Upload page style *****************
******************************************************
*****************************************************/

#fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload__form__file label {
  color: #656565;
  max-width: 80%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;
  margin: 0 auto 2em;
  text-align: center;
}

.upload__form__file figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #5ebeff;
  background: -moz-linear-gradient(-45deg, #5ebeff 0%, #467cfb 100%);
  background: -webkit-linear-gradient(-45deg, #5ebeff 0%,#467cfb 100%);
  background: linear-gradient(135deg, #5ebeff 0%,#467cfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ebeff', endColorstr='#467cfb',GradientType=1 );
  display: block;
  padding: 20px;
  margin: 20px auto;
}

.upload__form__file svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  vertical-align: middle;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.upload-result {
  width: 100%;
}

.edit__result {
  margin-top: 10px;
  width: 100%;
}

/*****************************************************
******************************************************
****************** Main pages style ******************
******************************************************
*****************************************************/

.main__header {
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
}

.header__container {
  max-width: 1100px;
  margin: 0 auto;
}

.main__header__logo {
  margin-left: 1em;
  width: 30px;
  align-self: center;
  display: none;
}

.main__nav__original {
  padding: 0;
  display: grid;
  grid-column-gap: 1em;
  margin: 0 20px;
  grid-template-columns: 30px 30px auto 30px;
}

.main__nav__mobile {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main__nav__mobile ul { 
  padding-left: 0;
  padding: 0 1em;
  margin: 0;
}

.main__nav__item {
  list-style: none;
  position: relative; 
}

.main__nav__item a {
  display: grid;
  padding: 10px 0;
  text-decoration: none;
  color: var(--grey-color);
}

.main__nav__item--menu {
  margin-right: 1em;
  display: grid;
  height: 56px;
}

.main__nav__item--menu img {
  align-self: center;
  justify-self: end;
  width: 30px;
}

.main__nav__item a img, .main__nav__item--search {
  align-self: center;
  justify-self: center;
}

.main__nav__item--search {
  width: 100%;
}

.main__nav__item--search input {
  width: 100%;
  padding: 5px 5px 5px 25px;
  font-size: 13px;
  font-weight: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  background-size: 15px;
  background-image: url(../assets/icons/search.svg);
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

.main__nav__item--home {
  grid-column: 1;
}

.main__nav__item--profile {
  grid-column: 2;
}

.main__nav__item--upload {
  grid-column: 4;
  align-self: center;
}

.main__nav__item--logout {
  display: none;
}

.main__nav__item--search {
  grid-column: 3;
  grid-row: 1;
}

.tag_follow_btn {
  display: inline-block;
  padding: 3px 4px 3px;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: .02em;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  position: relative;
  background: #5ebeff;
  background: -moz-linear-gradient(-45deg, #5ebeff 0%, #467cfb 100%);
  background: -webkit-linear-gradient(-45deg, #5ebeff 0%,#467cfb 100%);
  background: linear-gradient(135deg, #5ebeff 0%,#467cfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ebeff', endColorstr='#467cfb',GradientType=1 );
}

.main__nav__item--profile img {
  border-radius: 100%;
}

.main__nav__item--logout a img {
  width: 80%;
}

.main__nav__item--upload a img {
  width: 100%;
}

.main__nav__item--search form {
  margin-bottom: 0;
}

.secondary__nav {
  width: 100%;
  min-height: 35px;
  border-bottom: 1px solid #e5e5e5;
  background: var(--black-color);
  display: grid;
  padding:0.5em;
}

.secondary__nav ul {
  padding: 0;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.secondary__nav__item {
  display: inline-block;
  margin: 0 1em;
}

.secondary__nav__item a {
  font-size: 0.9em;
  color: #bdbdbd;
  text-decoration: none;
}

.secondary__nav__item--selected a {
  color: #ffffff;
}

.main__posts {
  list-style: none;
  padding: 0;
  margin: 2em 0;
  display: grid;
}

.main__posts--user {
  grid-template-columns: repeat(2, 49%);
  grid-gap: 2%;
}

.main__posts__item {
  margin-bottom: 0.5em;
}

.main__posts--user .main__posts__item__header__info {
  display: none;
}

.main__posts__item__header{
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.main__posts__item__header__image {
  position: relative;
}

.main__posts__item__header__image__link {
  padding: 0;
  margin: 0;
  display: block;
  line-height: 0;
}

.main__posts__item__header__image__link img {
  padding: 0;
  line-height: 0;
}

.main__posts__item__header__image__hover {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  line-height: 2;
  background: #fff;
  background: rgba(255,255,255,0.96);
  overflow: hidden;
}

.main__posts__item__header__image:hover a.main__posts__item__header__image__hover {
  opacity: 1;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

a.main__posts__item__header__image__hover em {
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 0.9em;
  color: var(--lightblue-color);
}

.main__posts__item__header__info {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 0.7em;
  list-style: none;
  margin: 0 5px;
  padding: 10px 0 10px;
}

.main__posts__item__header__info__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-self: left;
  grid-column-gap: 0.3em;
}

.main__posts__item__header__info__item img, .main__posts__item__header__info__item a {
  width: 22px;
  justify-self: end;
  align-self: center;
}

.main__posts__item__header__info__item a {
  padding: 0;
  display: grid;
}

.main__posts__item__header__info__item p {
  margin: 0;
  padding: 0;
  justify-self: left;
  align-self: center;
  font-size: 13px;
  color: #B7B7B7;
}

.main__posts__item__user {
  margin: 10px 5px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.main__posts__item__user img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  border-radius: 50%;
  align-self: center;
}

.main__posts__item__user a {
  align-self: center;
  color: var(--black-color);
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 3px;
}

.empty__state {
  text-align: center;
  margin: 50px auto;
}

.empty__state__image {
  max-width: 150px;
}

.empty__state__heading {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 auto 15px;
}

.empty__state__text {
  color: darkgrey;
  font-size: 1em;
  margin: 0 auto 15px;
}

.load__more {
  text-align: center;
  display: block;    
  margin: 3em;
}

.load__more__btn {
  background: #5ebeff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5ebeff 0%, #467cfb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5ebeff 0%,#467cfb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5ebeff 0%,#467cfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ebeff', endColorstr='#467cfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 15px 12px;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff!important;
  line-height: 17px;
  letter-spacing: .02em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  position: relative;
}

@media (min-width: 35em) {

  .logo img {
    max-width: 100px;
  }

  h2 {
    font-size: 2em;
  }

  .avatar__preview, .settings__menu, .user__preview, .password__preview, .container__header, .upload {
    padding: 1em 2em;
  }

  .main__posts {
    margin: 2em 1em;
    grid-template-columns: repeat(2, minmax(250px, 350px));
    justify-content: center;
    grid-gap: 1em;
  }

  .main__posts__item__header{
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  }

  .main__posts__item__user {
    margin: 10px 15px
  }

  .main__posts__item__user a {
    font-size: 0.9em;
  }

  .main__posts__item__header__info__item img, .main__posts__item__header__info__item a {
    width: 20px;
  }

  .main__posts__item__header__info {
    margin: 0 15px;
  }

  .main__posts--user .main__posts__item__header__info {
    display: grid;
  }

  .main__header__logo {
    display: block;
  }

  .main__nav__item {
    border: none;
  }
  
  .header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main__nav__original {
    padding: 0;
    display: grid;
    grid-column-gap: 1em;
    margin: 0 20px;
    grid-template-columns: 30px auto 30px;
  }

  .main__nav__item--home {
    display: none;
  }

  .main__nav__item--profile {
    grid-column: 1;
  }
  
  .main__nav__item--upload {
    grid-column: 2;
  }
  
  .main__nav__item--logout {
    display: block;
  }
  
  .main__nav__item--search {
    grid-column: 4;
    grid-row: 1;
  }
  
  .main__nav__item a {
    height: 56px;
    padding: 0 10px;
    line-height: 56px;
    text-decoration: none;
    color: var(--grey-color);
}

  .main__nav__item--menu {
    display: none;
  }

  .main__nav__item--menu {
    margin-right: 50px;
  }

  .main__nav__original {
    display: grid;
    grid-template-columns: 43px 43px 43px 220px;
    justify-content: end;
    margin: 0 1em 0 0;
    padding: 0;
    grid-column-gap: 0;
  }

  .main__nav__mobile {
    display: none!important;
  }

  .upload canvas {
    display: none;
  }

}

@media (min-width: 53em) {
  .main__posts {
    grid-template-columns: repeat(3, minmax(250px, 350px));
    grid-gap: 30px;
  }
}

@media (min-width: 70em) {

}

@media (min-width: 88em) {

}

@media (min-width: 105em) {

}

/*****************************************************
******************************************************
*************** Account settings style ***************
******************************************************
*****************************************************/

.profile__change__msg {
  padding: 15px;
  font-size: 1.1em;
  color: #fff;
  text-align: center;
}

.profile__change__msg p {
  margin: 0;
}

.profile__change__msg--success {
  background-color: #01E278;
}

.profile__change__msg--error {
  background-color: #f55;
}

.container, .profile__change {
  max-width: 800px;
  margin: 2em auto;
}

.upload__form fieldset, .profile__change fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.avatar__preview {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  text-align: center;
}

.avatar__preview--user {
  display: block;
  text-align: center
}

.avatar__preview picture {
  position: relative;
  justify-self: center;
  grid-column: 2;
}

.avatar__preview__change {
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
}

.avatar__preview__change .preview__change__btn--margin {
  margin-left: 0;
}

.avatar__preview picture img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.writeComment__form {
  display: grid;
  grid-gap: 0.4em;
  grid-template-columns: 3fr 1fr;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--grey-color);
}

.writeComment__input {
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  font-size: 0.9em;
}

.preview__change__btn, .writeComment__send__btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .02em;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  position: relative;
}

.preview__change__btn:visited, writeComment__send__btn:visited {
  color: #fff;
}

.preview__change__btn--action, .writeComment__send__btn--action {
  background: #5ebeff;
  background: -moz-linear-gradient(-45deg, #5ebeff 0%, #467cfb 100%);
  background: -webkit-linear-gradient(-45deg, #5ebeff 0%,#467cfb 100%);
  background: linear-gradient(135deg, #5ebeff 0%,#467cfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ebeff', endColorstr='#467cfb',GradientType=1 );
}

.preview__change__btn--danger {
  background: #c3c3c3;
}

.preview__change__btn--upload {
  margin: 0 0 2em;
}

.preview__change__btn--margintop {
  margin-top: 20px;
}

.avatar__form {
  display: none;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 20px;
}

.field-form {
  margin: 0;
  padding: 8px 0;
  position: relative;
}

.preview__change__btn--margin {
  margin-top: 20px;
  margin-left: 20px;
}

.form__message, #avatar {
  padding: 8px 0;
  margin: 0;
  font-size: 0.9em;
  color: #999;
}

.container__header {
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.edit__field label {
  display: block;
  margin: 5px 0;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 500;
}

.edit__field input, .edit__field textarea, .writeComment__form textarea {
  font-size: 16px;
  background: rgba(0,0,0,0.07);
  vertical-align: middle;
  width: 100%;
  padding: 10px 12px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  border: none;
  background:#fff;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
  box-sizing: border-box;
}

.edit__field input:focus, .edit__field textarea:focus { 
  background-color: #fff;
}

.edit__field textarea {
  height: 110px;
  line-height: 1.5;
  display: block;
}

.hidden{
  visibility:hidden;
}

/*****************************************************
******************************************************
****************  page post ********************
******************************************************
*****************************************************/

.sight__container
{
  display:grid;
  max-width:50em;
  margin: 2em auto;
  padding: 2em 3em;
  justify-content: center;
  background-color:#F4F4F4;
}

@media (min-width: 35em) {
  .sight__container {
    padding: 2em 10em;
  }
}


.sight__userInformation
{
  display:grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1em;
}
.userInformation__avatar
{
  width:50px;
  height:50px;
  border-radius:50%;
  grid-row: 1 / span 2;
  align-self: center;
}

.userInformation__username
{
  align-self:end;
  margin-bottom: 0;
  color:var(--black-color);
  text-transform: capitalize;
}

.userInformation__subtle
{
  grid-column: 2/span 1;
  margin-top:0;
  grid-column: 2fr/3fr;
  grid-row: 1fr/2fr;
  font-size: 0.9em;
  color:var(--lightgrey-color);
}

.userInformation__subtle--lighter
{
  color:#d6d6d6;
  font-weight:lighter;
}

.postInformation__post
{
  width:100%;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
}


.postInformation__description p {
  border-bottom: 1px solid var(--grey-color);
  padding: 1em 0 1em 0;
}

/******FORM********/
.writeComment__form textarea {
  width: 300px;
  margin-right: 0.5em;
}

/****COMMENTS******/
.comments ul
{
  padding-left:0;
}

.comments__comment, .comments__noComment
{
  list-style-type:none;
}

.comments__noComment p
{
  color:var(--lightgrey-color);
}

.comments__noComment--accent
{
  font-weight:800;
  text-transform: capitalize;
}

.comments__comment__avatar
{
  width:50px;
  border-radius:50%;
}

.comments__comment
{
  display:grid;
  grid-template-columns: 60px 1fr;
  border-bottom: 1px solid var(--grey-color);
  margin-bottom: 1em;
}

.comments__comment__avatar
{
  grid-column: 1fr/2fr;
}

.comments__text
{
  grid-column: 2fr/3fr;
}

.comments__comment__username
{
  font-weight: bold;
  text-transform: capitalize;
}

.comments__comment__date
{
  color:var(--lightgrey-color);
  font-size: 0.8em;
}

.comments__comment__text
{
  margin: 1em 0 1em 0;
}

.postSettings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
  border-bottom: 1px solid var(--grey-color);
}

.post__settings {
  grid-column: 1;
}

.post__settings img, .post__delete img
{
    width:20px;
    padding-right: 0.5em;
}

.post__delete {
  grid-column: 2;
}

.post__delete a, .post__settings a
{
  color:var(--blue-color);
  font-size: 0.9em;
}

/******* REPORT ************/
.report__post p
{
  color: var(--red-color);
}

/******* RELATED POSTS ************/
.relatedPosts
{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
  align-items: start;
  margin-bottom:3em;
}

/*****************************************************
******************************************************
*********************** User page ********************
******************************************************
*****************************************************/

.user__details {
  text-align: center;
  padding: 1em 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 50px auto;
  max-width: 1110px;
}

.user__details__description__fullname {
  margin: 0;
  font-weight: bold;
  font-size: 1.4em;
}

.user__details__description__username {
  margin: 0;
  color: darkgrey;
}

.user__details__settings {
  width: 53px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.user__details__settings a:first-child {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
}

.user__details__settings a:last-child {
  display: inline-block;
  width: 20px;
  margin-left: 5px;
}

.friend, .follow {
  display: inline-block;
}

ul.shotStats {
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  line-height: 0;
}

ul.shotStats li {
  border-bottom: 1px solid var(--grey-color);
  padding:0;
  margin: 0.2em 0 1em 0;
}

li.shotStats_colors {
  grid-row: 1;
}

ul.shotStats li.shotStats_likes {
  grid-row: 2;
}

ul.shotStats>li span.stats-action {
  float: left;
  padding-right: 1em;
  display: block;
  color: #999;
  line-height: 1.5;
}

li.shotStats_likes span.stats-action {
  width: 40px;
}

ul.shotStats>li .stats-action img {
  width: 20px;
  vertical-align: middle;
  opacity: .3
}

ul.color-palette {
  padding: 0;
  width: 100%;
}

ul.color-palette li {
  float: left;
  width: 12.5%;
}

ul.color-palette li:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

ul.color-palette li:first-child {
  margin-right: 0;
}

ul.color-palette li:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

ul.color-palette li a {
  float: left;
  width: 100%;
  height: 1.6em;
}

ul.color-palette li:hover,ul.color-palette li.current a {
  background-image: none;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 5;
}


.color-icon {
  background-repeat: no-repeat;
  background-position: 7px 50%;
  background-size: 15px;
  background-image: url(../assets/icons/colors.svg);
}

.stats-count {
  color: var(--lightgrey-color);
  padding: 1em 0 1em 0;
}

.filter > input {
  visibility: hidden;
  position: absolute;
}

.filter > input + figure {
  cursor: pointer;
  border: 2px solid transparent;
}

.filter > input:checked + figure {
  border: 2px solid var(--blue-color);
}

.map__search {
  position: fixed;
  bottom: 2em;
  z-index: 99999;
  left: 20%;
  right: 20%;
}

@import "compass/css3";

/***********************
* Essential Structure *
***********************/
.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
}
    
.flexsearch--form {
    overflow: hidden;
    position: relative;
}
    
.flexsearch--input-wrapper {
    padding: 0 66px 0 0; /* Right padding for submit button width */
    overflow: hidden;
}

.flexsearch--input {
width: 100%;
}

/***********************
* Configurable Styles *
***********************/

.flexsearch--input {
    height: 1.5em;
    padding: 0 46px 0 10px;
    border-color: #2bb1ff;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    margin-top: 15px;
    color: #333;
    font-size: 1.2em;
    box-shadow: 1px -1px 4px 0px #5ebeff;
}
    
.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 0.75em;
    height: 0.75em;
    padding: 0;
    border: none;
    margin-right: 1em;
    background: transparent;
    color: #999;
    font-size: 1.5em;
    line-height: 3em;
}

.flexsearch--input:focus {
outline: none;
border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333; 
}

.flexsearch--submit:hover {
color: #333;
cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;  
}

input:-moz-placeholder {
color: #888
}

.marker-content img {
  width: 180px;
}


